@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

body,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
/* Wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 1600px;
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.title__hide {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Header */

.header {
  width: 1600px;
  width: 100%;
  height: 70px;
}

.header-nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  z-index: 145;
  margin-top: 26px;
}

.header-nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 12;
}

.menu__list {
  display: flex;
  margin: 0 13px 0 0;
}

.menu__item {
  padding: 0 46px;
}

.menu__item:nth-child(2) {
  padding: 0 122.5px 0 42.5px;
}

.menu__item:nth-child(3) {
  padding: 0 42.5px 0 122.5px;
}

.menu__link {
  opacity: 0.8;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #ffffff;
}

.menu__link:hover {
  opacity: 1;
  border-bottom: 1px solid #fff;
}

.logo {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

/* Main */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-page {
  width: 100%;
  height: 674px;
  z-index: 13;
}

.main-page__first {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1600px;
  height: 744px;
  top: 0;
  background-image: url('./assets/bg-image.png');
  background-repeat: no-repeat;
}

.main-page__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 120px;
}

.main-page__title {
  margin: 0;
  height: 75px;
  padding-left: 5px;
  font-size: 64px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 4.5px;
  color: #ffffff;
  text-transform: uppercase;
}

.main-page__text {
  display: block;
  width: 450px;
  height: 50px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #ffffff;
}

.btn {
  width: 184px;
  height: 46px;
  margin: 19px 2px 0 0;
  padding: 0 4px 0 3px;
  background-color: #00afdb;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.btn:hover {
  background-color: #029dc3;
}

/* Socials */
.socials {
  padding: 183px 0 0 0;
  margin: 0 auto;
  width: 170px;
  height: 20px;
}

.socials__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__item {
  padding: 0 15px;
}

.socials__link {
  list-style-type: none;
}

.socials__img:hover {
  transform: scale(1.1);
}

/* Ideas */
.ideas {
  display: flex;
  width: 100%;
  height: 842px;
  background: #fff;
}

.ideas__content {
  padding-top: 294px;
  margin-left: 268px;
  width: 407px;
  height: 233px;
}

.ideas__title {
  margin: 0;
  padding: 0;
  width: 367px;
  height: 57px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #373737;
  text-transform: uppercase;
}

.ideas__text {
  font-size: 14px;
  line-height: 1.4;
  color: #4e4e4e;
  margin: 20px 0;
}

strong {
  font-weight: 500;
  color: #373737;
}

.ideas__img {
  padding-top: 122px;
  margin-left: 246px;
  width: 407px;
  height: 582px;
}

/* Community */
.community {
  position: relative;
  width: 100%;
  height: 504px;
  background-color: #f5f6f7;
  overflow: hidden;
}

.community__content {
  position: absolute;
  width: 298px;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 269px;
  top: 155px;
}

.community__img {
  display: block;
  width: 2.913rem;
  height: 2.813rem;
}

.community__title {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 2.4px;
  color: #373737;
  text-transform: uppercase;
}

.community__text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #4e4e4e;
}

.slider {
  position: absolute;
  left: 706px;
  top: 120px;
  height: 244px;
}

.slider__list {
  display: flex;
}

.slider__item {
  margin-right: 30px;
}

.slider__item:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.slider-nav {
  position: absolute;
  display: flex;
  width: 79px;
  height: 20px;
  right: 270px;
  top: 74px;
}

.slider-nav > img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.slider-nav > span {
  width: 37px;
  height: 25px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #373737;
}

/* Implement */
.implement {
  display: flex;
  width: 100%;
  height: 842px;
  background-color: #ffffff;
}

.implement__img {
  width: 407px;
  height: 582px;
  margin-left: 269px;
  padding-top: 120px;
}

.implement__content {
  width: 407px;
  height: 184px;
  padding-top: 318px;
  margin-left: 139px;
}

.implement__title {
  width: 298px;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #373737;
  text-transform: uppercase;
}

.implement__text {
  margin: 24px 0;
  font-size: 14px;
  line-height: 1.4;
  color: #4e4e4e;
}

.implement__content > .btn {
  margin-top: 5px;
  width: 170px;
  cursor: pointer;
}

/* Sign Up */
.signup {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 598px;
  background-image: url('./assets/signup.png');
  background-repeat: no-repeat;
}

.signup__title {
  margin: 0;
  padding: 0 0 0 13px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
}

.signup__form {
  width: 406px;
  height: 105px;
  padding: 0;
  margin: 209px 0 0 0;
}

.signup__email {
  display: inline-block;
  width: 340px;
  height: 46px;
  margin-top: 31px;
  padding: 14px 23px;
  border: none;
  outline: none;
}

.signup__email::placeholder {
  font-size: 14px;
  line-height: 1.4;
  color: #373737;
}

.signup__email::required:invalid:focus {
  border: 3px solid tomato;
}
.signup__email::required:valid:focus {
  border: 3px solid rgb(71, 255, 148);
}

.signup__btn {
  background: #009cc2;
  width: 62px;
  height: 49px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 33px;
}

.signup__img {
  width: 20px;
  height: 20px;
}

.signup__btn:hover {
  background: #037f9e;
}

/* Download */
.download {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 468px;
  background-color: #f5f6f7;
}

.download__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 119px 0 0 0;
  width: 483px;
  height: 168px;
}

.download__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #373737;
  text-transform: uppercase;
}

.download__text {
  margin: 20px 0px 18px 0;
  text-align: center;
  width: 483px;
  height: 50px;
  font-size: 14px;
  line-height: 1.4;
  color: #4e4e4e;
}

.download__links {
  display: flex;
  width: 406px;
  height: 50px;
  margin-right: 8px;
}

 .download__btn {
  display: flex;
  justify-content: space-between;
  background: #00afdb;
  color: #fff;
  margin: 5px 13px;
  padding: 0 4px 0 3px;
  width: 184px;
  height: 46px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.download__btn:hover {
  background: #0092b6;
}

.btn__text {
  width: 128px;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 25px;
}

.btn__store {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 45px;
  background: #009cc2;
}

/* Footer */
.footer {
  position: relative;
  width: 100%;
  height: 184px;
  background-color: #000000;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
  margin-top: 60px;
  z-index: 10;
}

.footer__nav:first-child {
  padding-left: 145px;
}

.footer__list {
  position: relative;
  display: flex;
}

.footer__item {
  padding: 0 19px;
}

.footer__item:nth-child(2)::before,
.footer__item:nth-child(2)::after {
  content: '|';
  position: absolute;
  top: 5px;
  right: 188px;
  font-size: 9px;
  background-color: #4e4e4e;
}

.footer__item:nth-child(2)::after {
  right: 99px;
}

.footer__link {
  opacity: 0.7;
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
}

.footer__link:hover {
  opacity: 1;
  border-bottom: 1px solid #fff;
}

.footer__content > .logo {
  top: 60px;
  height: 45px;
}

.footer__copyright {
  font-size: 14px;
  line-height: 1.4;
  color: #818181;
  padding-right: 161px;
}
